<div class='pirate'>
<h1><%= @pirate.name %></h1>
<h1><%= @pirate.weight %></h1>
<h1><%= @pirate.height %></h1>
</div>

<h2>Ship 1</h2>
<% @ships.each do |ship| %>
  <div class="ship">
    <p>Name: <%= ship.name %></p><br>
    <p>Topic: <%= course.topic %></p><br>
  </div><br>
<% end %>

<h2>Display your second ship here</h2>
